
body{
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
/* Title Section*/
#title{
    background-color: #ff4c68;
    color: white;
}

.title-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

.btn-download{
    margin: 5% 3% 0% 0%;
}

.img-title{
    width: 60%;
    transform: rotate(25deg);
}


/* Features */
#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding : 5%;
}

.feature-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.feature-icon:hover{
    color: #ff4c68;
}

.feature-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-desc{
    color: #8f8f8f;
}


/* Testimonial */
#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

.testimonial-title{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */
#pricing{
    text-align: center;
    padding: 7% 10%;
}

.pricing-col{
    padding: 3% 2%;
}

.pricing-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.pricing-subtitle{
    font-weight: bold;
    font-size: 3rem;
}

.pricing-desc{
    color: #8f8f8f;
}